name: Deploy to Cloud Run

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: test-github-action-484509

      - run: |
          gcloud run deploy hello-ikea-new \
            --source . \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated
